* {
  /* overflow-y: hidden; */
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */

svg {
  width: 96px;
  height: 96px;
  padding: 4px;
  fill: fill-current;
  opacity: 0;
  position: absolute;
}

.tecnologies {
  position: absolute;
  inset: 0;
  z-index: -10;
}

.tecnologies_container {
  position: relative;
}

/* .tecnologies_container>svg {
  height: 100%;
  position: absolute;
  padding: 4px;

  opacity: 0;
} */

@-webkit-keyframes moving-background {
  0% {
    transform: translateY(0);
    opacity: 0
  }

  66% {
    opacity: .4
  }

  to {
    transform: translateY(-150px);
    opacity: 0
  }
}

@keyframes moving-background {
  0% {
    transform: translateY(0);
    opacity: 0
  }

  66% {
    opacity: .4
  }

  to {
    transform: translateY(-150px);
    opacity: 0
  }
}

.animate-moving-background {
  -webkit-animation: moving-background 5s ease-in-out;
  animation: moving-background 5s ease-in-out
}